* {
    margin: 0;
    padding: 0;
}
body {
    /* background: white; */
    background-size: cover;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center
}
#w{ 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    /* border: solid red; */
    display: -webkit-flex;
    display: -ms-flexbox;
    
}
#title1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 17, 165);
}
#submit{
    display: flex;
    width: 70x;
    height: 70px;
    float: left;
    cursor: pointer;
    padding: 30px;
}
#banner{
    width: 1345px;
    height: 360px;
    left: 0px;
    top: 0px;
}
#center{
    background-image:"..images/fondo.jpg";
}

#title2{ 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 80px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center; 
    /* border:solid green; */
}

#string{
    margin-bottom: 70px;
    margin-left: 62px;
}
#offset{
    margin-bottom: 40px;
}
#l1{
    color: white;
}
#l2{
    color: white;
}
#a{
    margin-left: 125px;
} 
#b{
    margin-right: 125px;
}
.info{
    margin: 40px;
}
#botones{
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* border:solid green; */
    margin-top: 120px;
    
}
#btnCifrar{
    cursor: pointer;
    margin: 70px;
    
}
#btnDescifrar{
    cursor: pointer;
    margin: 70px;
    
}
#r1{
    display: flex;
    justify-content: center;
    padding: 150px;
}
#r2{
    display: flex;
    justify-content: center;
    padding: 100px;
}

#cifrada{
    font-size: 50px;
    /* border: solid black; */
    color: white;
}
#descifrada{
    font-size: 50px;
    /* border: solid black; */
    color: white;
}
#come{
    width: 70px;
    height: 70px;
}


