* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center
}
#w{
    /*position: absolute;
    border: solid blue;
    width: 256px;
    height: 64px;
    left: 536px;
    top: 279px;
    align-items: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 80vh;
    width: 100vw;
    background-image: "../images/img.png";
    background-repeat: no-repeat;
    background-size: cover;
    

}
#submit{
    position: absolute;
    width: 50x;
    height: 50px;
    float: left;
}
#banner{
    /*position: absolute;*/
    width: 1440px;
    height: 551px;
    left: 0px;
    top: 473px;
}
/*#root{
    width: 960;
    margin: auto;
    
    
}
.contenedor{
    width: 960;
    margin: auto;
}
#contenedor{
    display:flex;
    justify-content:center;
}*/
#center{
    position: absolute;
    width: 344px;
    height: 84px;
    left: 548px;
    top: 270px;
}