* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center
}
#w{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: auto;
    width: auto;
    
    /* background-size: cover; */
    border: solid red;

    
    display: -webkit-flex;
    display: -ms-flexbox;
    
}
#submit{
    display: flex;
    width: 70x;
    height: 70px;
    float: left;
    cursor: pointer;
    padding: 30px;
}
#banner{
    width: 1345px;
    height: 400px;
    left: 0px;
    top: 0px;
}


#title2{
    border: solid rgb(0, 255, 255);
    margin-top: 120px;
    margin-bottom: 120px;
    

    display: flex;
    align-content: center;
    justify-content: center;
    border:solid green;
}

#string{
    border: solid blue;
    margin-bottom: 70px;
    margin-left: 62px;
    
}
#offset{
    border: solid blue;
    margin-bottom: 40px;
}

/* #a{
    display: inline-block;
    margin: 50px;
    border: solid blue;
    margin-bottom: 40px;
    margin-left: 300px;
}
#b{
    display: inline-block;
    margin: 50px;
    border: solid blue;
    margin-bottom: 40px;
    margin-left: 20px;
    

} */
.info{
    margin: 40px;
}
#botones{
    display: flex;
    justify-content: center;
    align-content: center;
    border:solid green;
}
#btnCifrar{
    cursor: pointer;
    margin: 70px;
    
}
#btnDescifrar{
    cursor: pointer;
    margin: 70px;
    
}


.containerb{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    border:solid green;
    
}
.containera{
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    align-content: center;
    border:solid black;
}
.resultado{
    background: red;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    border: solid brown;
    /* height: auto; */

}
#answer{
    border: solid blue;
    /* display: flex; */
    /* justify-content: center; */
    /* padding-left: 340px; */
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 615px;
    width: 890px;
    border: solid yellow;
    
    
    
}
#ac{
    border: solid green;
    /* justify-content: center;
    align-items: center; */
    margin: 100px;
    margin-top: 150px;
    padding: 0px;
    margin-left: 390px;

    /* padding-bottom: 50px; */
}

#cifrada{
    font-size: 50px;
    margin: 100px;
    margin-top: 280px;
    border: solid black;
    padding: 0px;

    margin-left:378px ;

}
/* #descifrada{
    align-self: start;
} */

#imgfra{
    margin: 0px;
    width: 480px;
    height: 615px;
    
    padding: 0px;
    
    top: 126px;
    border-radius: 0px;
    /* float: right; */
    border: solid blue;

} 
/* #ac{
    justify-content: space-between;
} */
